body {
  min-height: 100vh;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  position: relative;
  border: 8px solid #000;
  margin: 0;
}
/* .container-fluid {
  font-family: "Roboto" sans-serif;
  margin: auto;
} */

#introtext {
  text-align: center;
  font-size: 30px;
  color:black;
  font-family: 'Noto Serif', serif;
}


.col-12{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-align: center;
  color:black;
}
.col-md-3{
   text-align: center;
}
img {
  align-items: center;
  border-radius: 8%;
}

.navbar-light {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.navbar-toggler{
  color: black;
}

.resume{
  text-align: center;
}

@media (max-width: 414px) {
.image-wrapper{
  display: none;
}
}