body {
  min-height: 100vh;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  position: relative;
  border: 8px solid #000;
    margin: 0;
}

#github-link{
  font-size: 15px;
align-items: center;
color: rgb(52, 52, 53);
font-family: sans-serif;
}

.col-md-8 {
  text-align: center;
  font-family: 'Noto Serif', serif;
  font-size: 40px;
  color: black;
  margin: auto;
  
}
.col-8 {
  text-align: center;
  font-family: 'Noto Serif', serif;
  font-size: 50px;
  color: rgb(50, 50, 53);
  margin: auto;

}

p{
  font-size: 17px;
  font-family: sans-serif;
}
.card{
  margin: 10px;
  border: 10px;
  border-color: black;
 
}


h1 {
  text-align: center;
  color: rgb(58, 57, 57);
}

.container{
  margin:auto;
  text-align: center;
  align-items: center;


}
.card-deck{
  margin: auto;
  
}